* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* Vi sætter denne store container, som indeholder alle elementerne på siden, i flex, så det bliver nemmere at placere elementerne */ 
.stor-container {
    display: flex;
    height: 100vh;
}

/* Vi placere herefter de to undercontainer ved hjælp af flex også */
.container1, .container2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; /* Til relativ positionering */
}

/* Vi styler nedenunder baggrundsfarverne og knapperne */
.container1 {
    background-color: #212c55;
}

.container2 {
    background-color: #BAD6EB;
}

.quiz {
    padding: 6rem;
}

.quiz h1 {
    font-size: 3rem;
    font-family: newnord-wide, sans-serif;
    font-style: normal;
    font-weight: 900;
    color: #BAD6EB;
}

#answer-buttons {
    display: flex;
    flex-direction: column;
}

.btn {
    font-family: newnord-wide, sans-serif;
    font-style: normal;
    font-size: 2rem;
    background: #BAD6EB;
    color: #212c55;
    font-weight: 500;
    border: 1.5px solid #212c55;
    padding: 1rem;
    padding-left: 2rem;
    margin: 1rem;
    text-align: left;
    border-radius: 1rem;
    cursor: pointer;
    width: 40rem;
    height: 7rem;
}

#next-btn {
    background: darkblue;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.correct {
    background: #CCE2D0;
    color: #13481B;
    border: #13481B solid 1px;
}

.incorrect {
    background: #F1D1E2;
    color: #6A1D2C;
    border: #6A1D2C solid 1px;
}

/* Styling af img med hjertebanken */

.hjerte {
    height: 2rem;
}



