* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* Vi sætter denne store container, som indeholder alle elementerne på siden, i flex, så det bliver nemmere at placere elementerne */ 

.stor-container {
    display: flex;
    height: 100vh;
}

/* Vi placere herefter de to undercontainer ved hjælp af flex også */

.container1, .container2 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; /* Til relativ positionering */
}

/* Vi styler nedenunder baggrundsfarverne på de to containere */

.container1 {
    background-color: #212c55;
}

.container2 {
    background-color: #BAD6EB;
}

/* Styler tal der viser hvor langt man er i quizzen */

#progress {
    font-size: 1.4rem;
    font-family: newnord-wide, sans-serif;
    font-style: normal;
    font-weight: 900;
    color: #BAD6EB; 
    margin-top: 1rem;
    position: absolute; /* Ændret til absolut positionering */
    top: 1.5rem; 
    left: 3rem; 
}

/* Styling af tekst til spørgsmål */

.quiz h1 {
    font-family: newnord-wide, san-serif;
    font-style: normal;
    font-weight: 900;
    color: #BAD6EB;
    font-size: 2rem;
    position: absolute;
    top: 16rem;
    left: 3rem;
    max-width: 85%;
}

/* Styling af bokse til svarmuligheder */

#answer-buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
}

/* Styling af tekst til svarmuligheder */

.btn {
    font-family: newnord-wide, sans-serif;
    font-style: normal;
    font-size: 1.4rem;
    background: #BAD6EB;
    color: #212c55;
    font-weight: 500;
    border: 1.5px solid #212c55;
    padding: 1rem;
    padding-left: 2rem;
    margin: 1rem;
    text-align: left;
    border-radius: 1rem;
    cursor: pointer;
    width: 40rem;
    height: 7rem;
}

/* Styling af knap til at gå videre */

/* #next-btn {
    background: darkblue;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 40rem auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
} */

#next-btn {
    background: none;
    border: none;
    padding: 0;
    margin: 40rem auto 0;
    cursor: pointer;
}

#next-btn img {
    width: 150px;
    height: auto;
}

#next-btn:focus {
    outline: none; /* Fjern fokusstil efter klik */
}


/* Styling af farver der viser rigtig og forkert svar */

.correct {
    background: #CCE2D0;
    color: #13481B;
    border: #13481B solid 1px;
}

.incorrect {
    background: #F1D1E2;
    color: #6A1D2C;
    border: #6A1D2C solid 1px;
}

/* Styling af img med hjertebanken */

.hjerte {
    height: 6rem;
    position: absolute;
    top: 38rem;
    left: 0rem;
}

/* Styling af hjem-knap */

.hjem-button {
    font-family: newnord-wide, sans-serif;
    font-style: normal;
    font-size: 1.2rem;
    color: #212c55;
    text-decoration: none;
    position: absolute; /* Ændret til absolut positionering */
    top: 2.5rem; 
    right: 4rem; 
}

/* Styling af uddybelse af svar */
#explanation {
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    color: #212c55;
    max-width: 80%;
    line-height: 2.5rem;
    position: absolute;
    top: 16.3rem;
}

/* Styling af knapper (pile) */
#next-btn {
    width: 2.5rem;
    position: absolute;
    margin-left: 35.5rem;
    margin-top: 40rem;
}

#next-question-btn {
    width: 2.5rem;
    position: absolute;
    margin-left: 35.5rem;
    margin-top: 40rem;
}

