* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Styling for body */

/* Vi sætter denne store container, som indeholder alle elementerne på siden, i flex, så det bliver nemmere at placere elementerne */
.stor-container {
    display: flex;
    flex-direction: row;
}

/* Vi placere herefter de to undercontainer ved hjælp af flex også */
.container1 {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 50%;
} 

.container2 {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 50%;
}


/* Vi styler nedunder fonten og baggrundsfarve */
.container1 {
    background-color: #212c55;
}

.container2 {
    background-color: #efa3bc;
}

a {
    font-size: 2rem;
    text-decoration: none;
}

.blaa1 {
    color: #bad6eb;
    margin-top: 25rem;
    margin-left: -40rem;
    margin-bottom: 55rem;
    border: #bad6eb solid 1px;
    border-radius: 1rem;
    padding: 4rem;
}

.roed1 {
    color: #6a1d2c;
}


/* Styling af billeder */
img {
    height: 6rem;
    margin-top: 8rem;
}

.blaa {
    margin-left: 20rem;
}

