* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* styler vidoen og knapperne */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EFA3BC;
    height: 100vh;
}
#videoPlayer {
    width: 90%;
    height: auto;
    object-fit: cover; /* Gør at videoen fylder hele video-containeren uden at forvrænge forholdet */
    border: #6A1D2C solid 1px;
}

#controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#controls button {
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #6A1D2C;
    background-color: #EFA3BC;
    border: #6A1D2C 1px solid;
    border-radius: 5px;
}
    

#pausePlayBtn {
    margin-right: 20px;
    padding: 8px 14px;
}

#finishBtn {
    margin-left: 20px;
    padding: 8px 16px;
}
