body {
    margin: 0;
  }
  
  /* Styling af video på siden */

  .container {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  #videoPlayer {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Sikrer, at videoen fylder hele containeren */
  }
  
  /* Styling af knapper på videoen */
  
  #controls {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  
  #controls button {
    width: 120px;
    height: 40px;
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    background-color: #6A1D2C;
    color: #F0ACC3;
    border-radius: 4px;
    border: #6A1D2C 1px solid;
    cursor: pointer;
    margin: 0 10px;
  }
  
  #controls button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  